body {
    background-color: #e0e5eb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

#calculator-body {
    width: 328px;
    height: 600px;
    background-color: #e0e5eb;
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-radius: 20px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12),
        -6px -6px 8px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12);
    position: relative;
    padding-right: 44px;
    padding-top: 36px;
    padding-bottom: 36px;
    padding-left: 44px;
}

input[type="checkbox"] {
    position: absolute;
    -webkit-appearance: none;
    appearance: none;
    height: 32px;
    width: 72px;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12),
        inset -6px -6px 14px rgba(255, 255, 255, .65),
        inset 6px 6px 10px rgba(70, 70, 70, 0.12);
    border-radius: 20px;
    border: 2px solid;
    border-color: #dededd;
    margin: 0;
    align-self: flex-end;
    outline: none;
    cursor: pointer;

}

input[type="checkbox"]:before {
    content: "";
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
}

input[type="checkbox"]:before {
    height: 20px;
    width: 20px;
    background-color: #e0e5eb;
    border-radius: 50%;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12),
        -6px -6px 8px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12);
    left: 8px;
}

input[type="checkbox"]:checked:before {
    left: 40px;
    background-color: #02a9f6;
    box-shadow: 0px 0px 5px rgba(255, 255, 255, .65);
}

#adjuster {
    width: 380px;
    height: 40px;
    flex-grow: 0.4;

}

#screen {
    width: 328px;
    height: 40px;
    background-color: #e0e5eb;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12),
        inset -6px -6px 14px rgba(255, 255, 255, .65),
        inset 6px 6px 10px rgba(70, 70, 70, 0.12);
    border: 3px solid #dededd;
    border-radius: 10px;
    flex: 0.75;
    font-family: 'poppins';
    color: #757a8b;
    text-align: right;
    font-size: 35px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    box-sizing: border-box;
    padding-right: 20px;
}

#button-container {
    flex: 5;
    padding-top: 40px;
    display: flex;
    flex-wrap: wrap;
    /* gap:28px; */
    /* padding-left: 28px; */
    margin: 0px;
}

.button {
    width: 56px;
    height: 56px;
    border: 1px solid #dededd;
    border-radius: 50%;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12),
        -6px -6px 8px rgba(255, 255, 255, .65),
        6px 6px 10px rgba(70, 70, 70, 0.12);
    background-color: #e0e5eb;
    font-family: 'poppins';
    margin-right: 34px;
    /* margin-bottom: 26px; */
    font-size: 24px;
    font-weight: 200;
}

#btn-0 {
    width: 148px;
    border-radius: 20px;
}

.endb {
    margin-right: 0px;
}